<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TIAA HomePage</title>
    <link rel="stylesheet" href="static\styles\home_page.css">
</head>
<body>
    <header>
        <nav class="rightnav">
        <img src="https://www.tiaa.org/content/dam/tiaa/global/logo/TIAA_logo_header_1000_1x.svg" alt="logo">
        <a href="home_page.html"><b>Home</b></a>
        <a href="#"><b>Invest</b></a>
        <a href="#"><b>Learn</b></a>
        <a href="#"><b>About TIAA</b></a>
        </nav>
        <nav class="leftnav">
            <a href="login_page"><button class="btnlogin-popup">Login</button></a>
            <a href="register_page"><button class="btnlogin-popup">Sign Up</button></a>
        </nav>
    </header>
<div class="main"><h2>TIAA Finances</h2><p><b>Predicting financial trends and emotional wellness through analysis of global trends.</b></p>
    <a href="two_page"><button class="learn-more"><b>Learn More</b></button></a> <br>
    <br>
    <h2>Investment Return Calculator</h2><p><b>Calculting investment returns for given years with expected return</b></p>
    <a href="return_calculator"><button class="learn-more"><b>Check Now</b></button></a>
</div>
    </div>
<footer>
    &copy; TIAA H3 Hackathon
</footer>
</body>
</html>